<!doctype html>
<html lang="zh">
  <head>
    <meta charset="utf-8">
    <title>静态资源的文件示例</title>
    <link rel="stylesheet" href="/assets/css/geektutu.css">
  </head>
  <body>
    <p>geektutu.css is loaded</p>
  </body>
</html>
